<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- <SLNode slid="1"> -->
    <!-- Setting compilation debug="false" will cause SquishIt to combine, minify, and version the CSS and JS bundles created with it. 
         This transform will remove the debug attribute, giving us the default value for debug (i.e. "false"). -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- </SLNode> -->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <!-- <SLNode slid="2">
         The compression settings necessary for IIS on a server.
    -->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024" Transform="SetAttributes">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" Transform="SetAttributes"/>
    </httpCompression>
    <!-- </SLNode> -->

    <staticContent>
      <!-- 
        <SLNode slid="1">
        Set expire headers to 30 days for static content.
        This becomes feasible, of course, only because the static content is versioned by SquishIt and the Sprite and Image Optimization package.
        Setting cacheControlCustom="public" enables intervening cache proxies to cache the files.
      -->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" Transform="SetAttributes"/>
      <!-- </SLNode> -->
    </staticContent>
    
    </system.webServer>
  
  </configuration>